html {
    background-color: #e7fffe;
}
body {
    font-family: "Noto Serif", serif;
    color: #180927;
    max-width: 50rem;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
@media screen and (max-width: 50rem) {
    body {
        margin: 0 1rem;
    }
}
h1 {
    font-family: "Archivo Narrow";
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    background-color: #1c2637;
    color: #e7fffe;
    padding: 0 1rem 0 1rem;
}

h2 {
    font-family: "Archivo Narrow";
    text-align: center; 
}

h3 {
    font-family: "Archivo Narrow";
    background-color: #1c2637;
    color: #e7fffe;
    font-size: 1.25rem;
    padding-left: .5rem;
    text-transform: uppercase;
}

.banner {
    max-width: 100%;
}

.copy {
    margin: 1rem;
}

.container {
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-around;
}
